@import 'variables';

[data-bs-theme=light] {
    /* --bs-body-bg: #f8fafc; */

    /* .navbar, .dropdown-menu {
        background-color: #fff;
    } */

    /* .dropdown-item:hover, .dropdown-item:focus {
        background-color: #e2e8f0;
    } */
}

/* Example making darker primary color elements */
/* https://tailwindcss.com/docs/customizing-colors */
[data-bs-theme=dark] {
    /* --bs-body-bg: #111827;

    .navbar {
        background-color: #1e293b;
    } */

    .btn-primary {
        --bs-btn-bg: #{$c-blue-3};
        --bs-btn-border-color: #{$c-blue-3};

        --bs-btn-hover-bg: #{$c-blue-2};
        --bs-btn-hover-border-color: #{$c-blue-2};

        --bs-btn-active-bg: #{$c-blue-1};
        --bs-btn-active-border-color: #{$c-blue-1};
        --bs-btn-disabled-bg: #{$c-blue-1};
        --bs-btn-disabled-border-color: #{$c-blue-1};
        /* --bs-btn-focus-border-color: #{rgba($white, .5)};
        --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2); */
    }

    .dropdown-menu {
        --bs-dropdown-link-active-bg: #{$c-blue-3}; 
    }
}