@import 'variables';

/* Example of altering style rules based on selected theme */
/* https://getbootstrap.com/docs/5.3/utilities/background/ */

[data-bs-theme=light] {
    .themed-app-bg {
        background-color: $light-bg-subtle;
    }
    header .navbar {
        background-color: #fff;
    }
}

[data-bs-theme=dark] {
    .themed-app-bg {
        background-color: $dark-bg-subtle-dark;
    }
    header .navbar {
        background-color: $dark;
    }

    .btn-primary {
        --bs-btn-bg: #{$c-blue-3};
        --bs-btn-border-color: #{$c-blue-3};

        --bs-btn-hover-bg: #{$c-blue-2};
        --bs-btn-hover-border-color: #{$c-blue-2};

        --bs-btn-active-bg: #{$c-blue-1};
        --bs-btn-active-border-color: #{$c-blue-1};
        --bs-btn-disabled-bg: #{$c-blue-1};
        --bs-btn-disabled-border-color: #{$c-blue-1};
        /* --bs-btn-focus-border-color: #{rgba($white, .5)};
        --bs-btn-focus-box-shadow: 0 0 0 .25rem rgba(255, 255, 255, .2); */
    }
    .dropdown-menu {
        --bs-dropdown-link-active-bg: #{$c-blue-3}; 
    }
}