// Typography
$font-family-sans-serif: 'Roboto Mono', monospace;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// custom 
/* $c-blue-1: #172554;
$c-blue-2: #1e3a8a;
$c-blue-3: #1e40af; */
$c-blue-1: #1e1b4b;
$c-blue-2: #312e81;
$c-blue-3: #3730a3;